/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

* {
  color: #f4f4f4;
}

.bg-purple {
  background-color: #0e6cff;
}

.bg-orange {
  background-color: #ff8700;
}

.bg-green {
  background-color: #4caf50;
}

.bg-blue {
  background-color: #0164fb;
}

.bg-hero {
  background-color: #0164fb;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.font-xs {
  font-size: 10px;
}

.font-sm {
  font-size: 15px;
}

.font-md {
  font-size: 20px;
}

.font-lg {
  font-size: 25px;
}

.p-xs {
  padding: 0.5rem;
}

.py-xs {
  padding-block: 0.5rem;
}

.px-xs {
  padding-inline: 0.5rem;
}

.p-sm {
  padding: 1rem;
}

.py-sm {
  padding-block: 1rem;
}

.px-sm {
  padding-inline: 1rem;
}

.p-md {
  padding: 1.5rem;
}

.py-md {
  padding-block: 1.5rem;
}

.px-md {
  padding-inline: 1.5rem;
}

.p-lg {
  padding: 2rem;
}

.py-lg {
  padding-block: 2rem;
}

.px-lg {
  padding-inline: 2rem;
}

.p-xl {
  padding: 3rem;
}

.py-xl {
  padding-block: 3rem;
}

.px-xl {
  padding-inline: 3rem;
}

.p-xxl {
  padding: 5rem;
}

.py-xxl {
  padding-block: 5rem;
}

.px-xxl {
  padding-inline: 5rem;
}

.p-auto {
  padding: auto;
}

.py-auto {
  padding-block: auto;
}

.px-auto {
  padding-inline: auto;
}

.m-xs {
  margin: 0.5rem;
}

.my-xs {
  margin-block: 0.5rem;
}

.mx-xs {
  margin-inline: 0.5rem;
}

.m-sm {
  margin: 1rem;
}

.my-sm {
  margin-block: 1rem;
}

.mx-sm {
  margin-inline: 1rem;
}

.m-md {
  margin: 1.5rem;
}

.my-md {
  margin-block: 1.5rem;
}

.mx-md {
  margin-inline: 1.5rem;
}

.m-lg {
  margin: 2rem;
}

.my-lg {
  margin-block: 2rem;
}

.mx-lg {
  margin-inline: 2rem;
}

.m-xl {
  margin: 3rem;
}

.my-xl {
  margin-block: 3rem;
}

.mx-xl {
  margin-inline: 3rem;
}

.m-xxl {
  margin: 5rem;
}

.my-xxl {
  margin-block: 5rem;
}

.mx-xxl {
  margin-inline: 5rem;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-block: auto;
}

.mx-auto {
  margin-inline: auto;
}

.button-first {
  background-color: rgb(81, 203, 255);
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 15px;
  border: 0;
  font-family: "Rubik Mono One", monospace;
}
.button-first:hover {
  transition: 250ms;
  transform: scale(1.1);
}

.button-second {
  background-color: white;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 20px;
}

.button-third {
  background-color: white;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 20px;
}

header {
  position: sticky;
  top: 0;
  border-radius: 0;
  box-shadow: 0 5px 20px 6px rgba(83, 83, 83, 0.4);
  border: none;
}
header nav {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik Mono One", monospace;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}

.hero {
  border-radius: 10px;
  box-shadow: 0 5px 20px 6px rgba(83, 83, 83, 0.4);
  border: none;
  max-height: 25rem;
  display: flex;
  align-items: center;
}
.hero section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
.hero section h1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
}
.hero section img {
  height: 10rem;
}

main {
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
main .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
main .grid div {
  width: 23%;
}
main .grid div img {
  width: 100%;
}

footer {
  height: 5rem;
}
footer div {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */