header {
  position: sticky;
  top: 0;
  nav {
    @include G-Space;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Rubik Mono One", monospace;

    ul {
      display: flex;
      list-style-type: none;
      li a {
        text-decoration: none;
      }
    }
  }
}
